<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="icu.tianqingyuluo.onlineim.mapper.UserBriefResponseMapper">
    <resultMap id="UserBriefResponseMap" type="icu.tianqingyuluo.onlineim.pojo.dto.response.UserBriefResponse">
        <id property="userId" column="id"/>
        <result property="avatarUrl" column="avatar"/>
    </resultMap>
    <!-- 根据username查询该用户简要信息 -->
    <select id="getUserBriefInfoByUsername" resultMap="UserBriefResponseMap">
        SELECT
            id,username,nickname,avatar
        FROM users
        WHERE (username = #{username})
    </select>
    <!-- 根据id查询该用户简要信息 -->
    <select id="getUserBriefInfoByID" resultMap="UserBriefResponseMap">
        SELECT
            id,username,nickname,avatar
        FROM users
        WHERE (id = #{id})
    </select>
    <!-- 根据id查询用户简要信息 -->
    <select id="searchUsersByUserID" resultMap="UserBriefResponseMap">
        SELECT
            id,username,nickname,avatar
        FROM users
        WHERE (id LIKE CONCAT('%', #{id}, '%'))
        ORDER BY created_at DESC
            LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 根据username查询用户简要信息 -->
    <select id="searchUsersByUsername" resultMap="UserBriefResponseMap">
        SELECT
            id,username,nickname,avatar
        FROM users
        WHERE (username LIKE CONCAT('%', #{username}, '%'))
        ORDER BY created_at DESC
            LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 根据username查询黑名单 -->
    <select id="getBlackListByUsername" resultMap="UserBriefResponseMap">
        SELECT u2.id,u2.username,u2.nickname,u2.avatar
        FROM
            users u1
                INNER JOIN
            user_friends uf ON u1.id = uf.user_id
                INNER JOIN
            users u2 ON uf.friend_id = u2.id
        WHERE
            u1.username = #{username}
          AND
            uf.status = 0;  -- 只查询拉黑的好友
    </select>
</mapper>