<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="icu.tianqingyuluo.onlineim.mapper.UserResponseMapper">
    <!-- 用户结果映射 -->
    <resultMap id="UserResponseMap" type="icu.tianqingyuluo.onlineim.pojo.dto.response.UserResponse">
        <id property="userId" column="id"/>
        <result property="avatarUrl" column="avatar"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>
    <select id="getUserResponseByUsername" resultMap="UserResponseMap">
        SELECT id, username, nickname, avatar, signature, region, gender, email, phone, created_at
        FROM users
        where username = #{username}
    </select>
    <select id="getUserResponseByUserID" resultMap="UserResponseMap">
        SELECT id, username, nickname, avatar, signature, region, gender, email, phone, created_at
        FROM users
        where id = #{id}
    </select>
</mapper>